@keyframes slider {
    0%{
        background-image: url(../imagens/primeira.jpg);
    }
    33%{
        background-image: url(../imagens/segunda.jpg);
    }
    66%{
        background-image: url(../imagens/terceira.jpg);
    }
    99%{
        background-image: url(../imagens/primeira.jpg);
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e6e6e6;
}

header{
    background-color: #2e2e2e;
    color: #fff;
    padding: 20px;
}

nav{
    background-color: #505050;
    padding: 10px 200px;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

main{
    display: inline-block;
    width: 60%;
    background-color: #e6e6e6;
    padding: 20px;
    line-height: 25px;
    border-right: 2px solid #fff;
}

main div{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section{
    background-color: #2e2e2e;
    color: #fff;
    padding: 5px 7px;
}

.slides{
    height: 300px;
    animation: slider 9s infinite;
    background-position: center;
    background-size: cover;
}

.blue{
    background-color: rgb(0, 0, 255);
}

aside{
    display: inline-block;
    width: 30%;
    height: 300px;
    background-color: #e6e6e6;
    padding: 20px 15px;
    line-height: 25px;
    vertical-align: top;
}

aside ul li{
    margin-left: 40px;
}

footer{
    background-color: #2e2e2e;
    padding: 20px;
    color: #fff;
}